<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aohanyao.blog.dao.ArticleCommentBeanMapper">
  <resultMap id="BaseResultMap" type="com.aohanyao.blog.bean.ArticleCommentBean">
    <constructor>
      <idArg column="comment_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="article_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="comment_content" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="star_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="comment_count" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="reply_comment_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    comment_id, article_id, user_id, comment_content, star_count, comment_count, reply_comment_id, 
    status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blog_article_comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from blog_article_comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aohanyao.blog.bean.ArticleCommentBean">
    insert into blog_article_comment (comment_id, article_id, user_id, 
      comment_content, star_count, comment_count, 
      reply_comment_id, status)
    values (#{commentId,jdbcType=INTEGER}, #{articleId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{commentContent,jdbcType=VARCHAR}, #{starCount,jdbcType=INTEGER}, #{commentCount,jdbcType=DATE}, 
      #{replyCommentId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.aohanyao.blog.bean.ArticleCommentBean">
    insert into blog_article_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        comment_id,
      </if>
      <if test="articleId != null">
        article_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="commentContent != null">
        comment_content,
      </if>
      <if test="starCount != null">
        star_count,
      </if>
      <if test="commentCount != null">
        comment_count,
      </if>
      <if test="replyCommentId != null">
        reply_comment_id,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        #{commentId,jdbcType=INTEGER},
      </if>
      <if test="articleId != null">
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="commentContent != null">
        #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="starCount != null">
        #{starCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null">
        #{commentCount,jdbcType=DATE},
      </if>
      <if test="replyCommentId != null">
        #{replyCommentId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aohanyao.blog.bean.ArticleCommentBean">
    update blog_article_comment
    <set>
      <if test="articleId != null">
        article_id = #{articleId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="commentContent != null">
        comment_content = #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="starCount != null">
        star_count = #{starCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null">
        comment_count = #{commentCount,jdbcType=DATE},
      </if>
      <if test="replyCommentId != null">
        reply_comment_id = #{replyCommentId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aohanyao.blog.bean.ArticleCommentBean">
    update blog_article_comment
    set article_id = #{articleId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      comment_content = #{commentContent,jdbcType=VARCHAR},
      star_count = #{starCount,jdbcType=INTEGER},
      comment_count = #{commentCount,jdbcType=DATE},
      reply_comment_id = #{replyCommentId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.aohanyao.blog.bean.ArticleCommentBean">
    <constructor>
      <idArg column="comment_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="article_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="comment_content" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="star_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="comment_count" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="reply_comment_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    comment_id, article_id, user_id, comment_content, star_count, comment_count, reply_comment_id, 
    status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blog_article_comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from blog_article_comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aohanyao.blog.bean.ArticleCommentBean">
    insert into blog_article_comment (comment_id, article_id, user_id, 
      comment_content, star_count, comment_count, 
      reply_comment_id, status)
    values (#{commentId,jdbcType=INTEGER}, #{articleId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{commentContent,jdbcType=VARCHAR}, #{starCount,jdbcType=INTEGER}, #{commentCount,jdbcType=DATE}, 
      #{replyCommentId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.aohanyao.blog.bean.ArticleCommentBean">
    insert into blog_article_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        comment_id,
      </if>
      <if test="articleId != null">
        article_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="commentContent != null">
        comment_content,
      </if>
      <if test="starCount != null">
        star_count,
      </if>
      <if test="commentCount != null">
        comment_count,
      </if>
      <if test="replyCommentId != null">
        reply_comment_id,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        #{commentId,jdbcType=INTEGER},
      </if>
      <if test="articleId != null">
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="commentContent != null">
        #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="starCount != null">
        #{starCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null">
        #{commentCount,jdbcType=DATE},
      </if>
      <if test="replyCommentId != null">
        #{replyCommentId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aohanyao.blog.bean.ArticleCommentBean">
    update blog_article_comment
    <set>
      <if test="articleId != null">
        article_id = #{articleId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="commentContent != null">
        comment_content = #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="starCount != null">
        star_count = #{starCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null">
        comment_count = #{commentCount,jdbcType=DATE},
      </if>
      <if test="replyCommentId != null">
        reply_comment_id = #{replyCommentId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aohanyao.blog.bean.ArticleCommentBean">
    update blog_article_comment
    set article_id = #{articleId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      comment_content = #{commentContent,jdbcType=VARCHAR},
      star_count = #{starCount,jdbcType=INTEGER},
      comment_count = #{commentCount,jdbcType=DATE},
      reply_comment_id = #{replyCommentId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
</mapper>